.nav_a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin: 0 5px;
    border-radius: 8px;
}

.icon {
    height: 25px;
    margin-right: 2px;
}

.nav_a:hover {
    color: gray;
    border-color: gray;
}

.offcanvas {
    background-color: #0d6efd;
}

.offcanvas-title {
    color: white;
}